body{
    background-color: black;
    font-family: sans-serif, Arial;
}

header{
    width: 980px;
    height: 140px;
    background-color: green;
    margin-left: 10%;
    text-align: center;
}
footer{
    width: 980px;
    height: 70px;
    background-color: green;
    margin-left: 10%;
    text-align: center;
    margin-top: 15px;
}
aside{
    width: 270px;
    height: 450px;
    background-color: green;
    display: inline-block;
    margin-left: 10%;
    margin-top: 15px;
    text-align: center;
}
article{
    width: 690px;
    height: 450px;
    background-color: green;
    display: inline-block;
    margin-left: 15px;
    text-align: center;
}